<div class="container">
  <div class="row">
    <p>playlists-view works!</p>
    <div class="col">
      <app-playlists-list
        [items]="playlists"
        [selected]="selected"
        (selectedChange)="selected = $event"
      ></app-playlists-list>
      <div>
        <button class="btn btn-info" >Create new</button>
      </div>
    </div>
    <div class="col" *ngIf="mode === 'details'" >
      <app-playlist-details [selected]="selected" [mode]="mode" (modeChange)="mode = $event" ></app-playlist-details>
    </div>
    <div class="col" *ngIf="mode === 'edit'">
      <app-playlist-editor [selected]="selected" (selectedChange)="save($event)" (deleteChange)="delete($event)" [mode]="mode" (modeChange)="mode = $event"></app-playlist-editor>
    </div>
  </div>
</div>
