<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    [(ngModel)]="query" 
  />
  <button class="btn btn-outline-secondary" type="button" (click) ="searchTitle.emit(query)">
    Search
  </button>
</div>

