
<p>playlist-editor works!</p>


<div class="form-group mb-3">
  <label>Name:</label>
  <input type="text" class="form-control" [(ngModel)]="draft!.name">
</div>

<div class="form-group mb-3">
  <label><input type="checkbox" [(ngModel)]="draft!.public"> Public</label>
</div>

<div class="form-group mb-3">
  <label>Description:</label>
  <textarea class="form-control" [(ngModel)]="draft!.description"></textarea>
</div>
<div>
  <button class="btn btn-info" (click) = "cancel()">cancel</button>
</div>
<div>
  <button class="btn btn-success" (click) = "save()">save</button>
  <button class="btn btn-danger" (click) = "delete()">delete</button>
</div>


