<p>playlist-details works!</p>
<dl id="">
  <dt>Name:</dt>
  <dd>{{ selected?.name }}</dd>
  <dt>Public:</dt>
  <dd class="isVisible" [class.text-success]="!selected?.public">
    {{ selected?.public ? "Yes" : "No" }}
  </dd>
  <dt>Description:</dt>
  <dd>{{ selected?.description }}</dd>
</dl>
<button class="btn btn-info" (click) = "edit()">Edit</button>
